################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeCommitMessageParser/v15/Server/sqlite3
/CodeCommitMessageParser/obj/Debug
